
.nav{
    background-color: #cb967e;
}

.nav-link{
    color: white;
    font-size: 20px;
}

.nav-link:hover{
    color: white;
}

.website-name{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    position: absolute;
    left: 0;
}

.text-row {
    align-content: center;
    align-items: center;
}

.intro-title{
    margin-top: 40px;
    color: #cb967e;
    font-weight: bold;
    font-size: 40px;
}

.intro-text{
    font-size: 17px;
    width: 100%;
    margin-top: 20px;
}

.welcome-image{
    width: 100%;
}

.row{
    margin-top: 20px;
    margin-left: 55px;
    margin-right: 55px;
}

.card{
    width: 16rem;
    margin-bottom: 20px;
}

.card-img-top{

}

@media (max-width: 575.98px) {
    .row{
        margin:0;
    }
}

@media (min-width: 320px){
    .nav-link{
        font-size: 15px;
    }

    .website-name{
        font-size: 15px;
    }
}

@media (min-width: 425px){
    .nav-link{
        font-size: 20px;
    }

    .website-name{
        font-size: 20px;
    }
}

